.PlaylistContainer {
    display: flex; 
    flex-direction: column; 
    align-items: flex-start;
    width: 45%;
}

.listItems {
    list-style: none; /* Remove bullet points */
    padding: 0; /* Remove default padding */
    align-items: left;
}
  
.listItems li {
    margin-bottom: 8px; /* Add spacing between list items */
    text-align: left;

}